@model SocialNetwork.Mvc.Models.PersonViewModel
@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}
<div class="container">
    <div class="col-md-3">
        <div class="avatar-container">
        <img src="@Url.Action(nameof(SocialNetwork.Mvc.Controllers.UserController.RenderAvatar), new { id = Model.Id })" alt="Avatar" class="avatar"/>
            </div>
        @if (User.Identity.Name == ViewBag.Email)
        {
            @Html.Partial("ChangeAvatar");
        }
        else
        {
            @Html.Action("GetFriendRequestButton", new { personId = Model.Id })
        }
        <br />
    </div>
    <div class="col-md-9">
        <div class="row">
            <h3>
                @Html.DisplayFor(m => m.FirstName)
                @Html.DisplayFor(m => m.LastName)
                @if (User.Identity.Name == ViewBag.Email)
                {
                    <small>@Html.ActionLink("edit information", "Edit", "User")</small>
                }
            </h3>
            <hr />
        </div>
        <div class="row">
            @Html.LabelFor(m => m.FavoriteBooks) 
            @Html.DisplayFor(m => m.FavoriteBooks)
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Address)
            @Html.DisplayFor(m => m.Address)
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Hobbies)
            @Html.DisplayFor(m => m.Hobbies)
        </div>
    </div>
</div>

